<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Extraado</title>
    <link rel="icon" type="image/png" sizes="177x77" href="assets/img/Exxtraado.png">
    <link rel="icon" type="image/png" sizes="177x77" href="assets/img/Exxtraado.png">
    <link rel="icon" type="image/png" sizes="177x77" href="assets/img/Exxtraado.png">
    <link rel="icon" type="image/png" sizes="177x77" href="assets/img/Exxtraado.png">
    <link rel="icon" type="image/png" sizes="177x77" href="assets/img/Exxtraado.png">
    <link rel="stylesheet" href="~/Content/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Berkshire+Swash">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab">
    <link rel="stylesheet" href="~/Content/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/Content/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="~/Content/assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="~/Content/assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/stylesheet.css">
</head>

<body id="page-top">

    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Content/assets/js/jquery.min.js"></script>
    <script src="~/Content/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/assets/js/creative.js"></script>
    <script src="~/Content/assets/js/hideelement.js"></script>
</body>

</html>