@{
    ViewBag.Title = "About";
}


    @*<header class="masthead text-center text-white d-flex" style="background: url(&quot;Content/assets/img/aw-creative-VjRpkGtS55w-unsplash.jpg&quot;) left / cover no-repeat;">*@

        <header class="masthead text-center text-white d-flex" style="background: url(/Content/assets/img/aw-creative-VjRpkGtS55w-unsplash.jpg) right / cover no-repeat;">

            <div class="container my-auto" style="background: rgba(40,117,140,0.84);">
                <div class="row">
                    <div class="col-lg-10 mx-auto">
                        <h1 class="text-uppercase" style="font-family: 'Berkshire Swash', cursive;color: #ffffff;">Extraado</h1>
                        <hr>
                    </div>
                </div>
                <div class="col-lg-8 mx-auto" style="padding-top: 8px;padding-bottom: 8px;">
                    <p class="text-faded mb-5" style="color: rgb(255,255,255);">
                        Focus on your clients, let us take care of your admin work, introduce you to new clients and help maintain existing clients; with features and services designed around your business.<br>We are working hard to get our platform up and running.
                        Sign up to learn more and&nbsp; be one of the first businesses to join the platform.<br>
                    </p><a class="btn btn-primary btn-xl js-scroll-trigger" role="button" data-dismiss="modal" data-toggle="modal" data-target="#partnersignup" href="#services" style="border-radius: 3px;padding-top: 8px;padding-bottom: 8px;">Sign up</a>
                </div>
            </div>
        </header>
        <div class="modal fade" role="dialog" tabindex="-1" id="partnersignup">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" style="color: #368096;font-family: 'Roboto Slab', serif;">Partner with us</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    </div>
                    <div class="modal-body">
                        <p style="color: rgb(85,126,143);">Please enter contact details below to register interest and hear from us, including opportunity to be invited to test the platform.</p>
                       

                        @* This is the code *@
                            @if (TempData["Message"] != null)
                            {
                                <h2 class="text-primary mb-5">@TempData["Message"]</h2>
                            }


                            @using (Html.BeginForm("Create", "BusinesSignups", "", FormMethod.Post, new { @class = "w-full flex-w flex-c-m" }))
                            {
                                @Html.AntiForgeryToken()<hr>
                                <div class="form-group" style="padding-bottom: 8px;">
                                    <div class="input-group" style="color: rgb(54,128,150);">
                                        <div class="input-group-prepend"><span class="input-group-text" style="background: rgba(255,255,255,0);border-right-width: 0px;border-right-style: none;"><i class="fa fa-building" style="color: rgb(54,128,150);"></i></span></div><input class="form-control"
                                                                                                                                                                                                                                                                                    type="text" style="border-left-style: none;color: rgb(54,128,150);" placeholder="Business Name" required="" name="BusinessName">
                                    </div>
                                </div>
                                <!-- Start: Success Example -->
                                <div class="form-group" style="padding-bottom: 8px;">
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span class="input-group-text" style="background: rgb(255,255,255);border-right-style: none;"><i class="icon-briefcase" style="color: rgb(58,130,152);"></i></span></div><input class="form-control" type="text" placeholder="Registered Company Name"
                                                                                                                                                                                                                                                         style="border-left-style: none;color: rgb(54,128,150);" name="CompanyName">
                                    </div><span style="font-family: Roboto, sans-serif;color: #388197;"><i class="fa fa-info-circle" style="font-size: 19px;padding-right: 8px;"></i>If business is a registered company</span>
                                </div>
                                <!-- End: Success Example -->
                                <div id="Businesspersonel">
                                    <div class="form-group" style="padding-bottom: 8px;">
                                        <div class="input-group">
                                            <div class="input-group-prepend"><span class="input-group-text" style="border-right-style: none;background: rgb(255,255,255);"><i class="fas fa-user" style="color: rgb(54,128,150);"></i></span></div><input class="form-control" type="text" placeholder="Your Name"
                                                                                                                                                                                                                                                          name="Name" style="border-left-style: none;color: rgb(54,128,150);" required="">
                                        </div>
                                    </div>
                                    <div class="form-group" style="padding-bottom: 8px;">
                                        <div class="input-group">
                                            <div class="input-group-prepend"><span class="input-group-text" style="border-right-style: none;background: rgb(255,255,255);"><i class="icon ion-email" style="font-size: 22px;line-height: 15px;color: rgb(54,128,150);"></i></span></div><input class="form-control"
                                                                                                                                                                                                                                                                                               type="text" placeholder="Email" name="Email" style="border-left-style: none;color: rgb(54,128,150);" required="">
                                        </div>
                                    </div>
                                    <div class="form-group" style="padding-bottom: 8px;">
                                        <div class="input-group">
                                            <div class="input-group-prepend"><span class="input-group-text" style="border-right-style: none;background: rgb(255,255,255);"><i class="fas fa-phone-square-alt" style="font-size: 21px;color: rgb(54,128,150);"></i></span></div><input class="form-control"
                                                                                                                                                                                                                                                                                      type="tel" placeholder="Contact Number" style="border-left-style: none;color: rgb(54,128,150);" required="" name="Number">
                                        </div>
                                    </div>
                                </div>

                        <div class="form-group" style="padding-bottom: 8px;">
                            <div class="input-group">
                                <div class="input-group-prepend"><span class="input-group-text" style="border-right-style: none;background: rgb(255,255,255);"><i class="far fa-id-badge" style="color: rgb(54,128,150);font-size: 19px;"></i></span></div><input class="form-control" type="text"
                                                                                                                                                                                                                                                                  placeholder="Your role/job title" name="Title" style="border-left-style: none;color: rgb(54,128,150);" required="">
                            </div>
                        </div>
                 
                    <div class="modal-footer">
                        <div class="row no-gutters text-center" style="width: 100%;">
                            <div class="col"><button class="btn btn-secondary" type="submit" style="border-radius: 3px;">Notify me</button></div>
                        </div>

                    </div>
                            }

                </div>
               
            </div>
        </div>
